<div class="container-fluid bg-white">
  <div class="row p-5">
    <div class="col-1"></div>
    <div class="col-7 py-5 border-top border-light border-3">
      <h1><strong> This First Heading <span class="text-muted">Will Catch Your Eye</span></strong></h1>
      <p>Lorem ipsum dolor sit amet. Et ducimus blanditiis et exercitationem repellendus eum animi facere sit rerum velit eos totam quia ab voluptatem assumenda aut nihil delectus. Et eaque nisi et modi cupiditate est ullam asperiores sit quasi dicta ut totam exercitationem.</p>
    </div>
    <div class="col-3 border-top border-light border-3">
      <img src="https://i.pinimg.com/474x/21/79/3f/21793f8f57fa72ba5f3894580be37ed5.jpg" class="img-fluid rounded-circle py-5 ">
    </div>
    <div class="col-1"></div>
  </div>
</div>