<div class="container-fluid bg-white">
    <div class="row p-5">
      <div class="col-1"></div>
      <div class="col-3 border-top border-bottom border-light border-3">
        <img src="https://keyoverlay.com/image/cache/catalog/product/Learn%20to%20Type%20Stickers/black_vsemi_deseti_blank-400x400.jpg" class="img-fluid rounded-circle py-5 ">
      </div>
      <div class="col-7 py-5 border-top border-bottom border-light border-3">
        <h1><strong> The Second Heading  <span class="text-muted">Is Pretty Cool Too.</span></strong></h1>
        <p>Lorem ipsum dolor sit amet. Et ducimus blanditiis et exercitationem repellendus eum animi facere sit rerum velit eos totam quia ab voluptatem assumenda aut nihil delectus. Et eaque nisi et modi cupiditate est ullam asperiores sit quasi dicta ut totam exercitationem.</p>
      </div>
      <div class="col-1"></div>
    </div>
  </div>