<div class= "container-fluid col-12">
  <div class="card text-bg-dark">
    <img src="https://www.xtrafondos.com/wallpapers/nueva-york-3316.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h1 class="display-1 card-text p-2 mb-2 bg-white text-dark d-flex justify-content-center custom-h1-1"><strong>New York City</strong></h1><br>
      <h1 class="display-5 card-text p-2 mb-2 bg-white text-dark d-flex justify-content-center custom-h1-2"><strong>Will Knock Your Socks Off</strong></h1>
    </div>
</div>
    
