
<div class="card text-bg-dark">
  <img src="https://www.xtrafondos.com/wallpapers/nueva-york-3316.jpg" class="card-img" alt="...">
    <div class="card-img-overlay position-absolute top-50 end-0 translate-middle-y">
      <h1 class="display-1 card-text p-2 mb-2 bg-white text-dark d-flex justify-content-center"><strong>New York City</strong></h1><br>
      <h1 class="display-5 card-text p-2 mb-2 bg-white text-dark d-flex justify-content-center"><strong>Will Knock Your Socks Off</strong></h1>
    </div>
  </div>
</div>
